applicationhost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configSections">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="sectionGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element maxOccurs="unbounded" name="section">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="allowDefinition" type="xs:string" use="optional" />
                          <xs:attribute name="overrideModeDefault" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="sectionGroup">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                              <xs:element maxOccurs="unbounded" name="section">
                                <xs:complexType>
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                  <xs:attribute name="overrideModeDefault" type="xs:string" use="required" />
                                  <xs:attribute name="allowDefinition" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="sectionGroup">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="section">
                                      <xs:complexType>
                                        <xs:attribute name="name" type="xs:string" use="required" />
                                        <xs:attribute name="overrideModeDefault" type="xs:string" use="required" />
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                  <xs:attribute name="name" type="xs:string" use="required" />
                                </xs:complexType>
                              </xs:element>
                            </xs:choice>
                          </xs:sequence>
                          <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="configProtectedData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="providers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="add">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="description" type="xs:string" use="required" />
                        <xs:attribute name="keyContainerName" type="xs:string" use="required" />
                        <xs:attribute name="cspProviderName" type="xs:string" use="required" />
                        <xs:attribute name="useMachineContainer" type="xs:boolean" use="required" />
                        <xs:attribute name="useOAEP" type="xs:boolean" use="required" />
                        <xs:attribute name="sessionKey" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.applicationHost">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="applicationPools">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="add">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="managedRuntimeVersion" type="xs:string" use="required" />
                        <xs:attribute name="managedPipelineMode" type="xs:string" use="required" />
                        <xs:attribute name="CLRConfigFile" type="xs:string" use="optional" />
                        <xs:attribute name="autoStart" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="applicationPoolDefaults">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="processModel" />
                        </xs:sequence>
                        <xs:attribute name="managedRuntimeLoader" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="listenerAdapters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="add">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sites">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="site">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="application">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="virtualDirectory">
                                  <xs:complexType>
                                    <xs:attribute name="path" type="xs:string" use="required" />
                                    <xs:attribute name="physicalPath" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="path" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="bindings">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="binding">
                                  <xs:complexType>
                                    <xs:attribute name="protocol" type="xs:string" use="required" />
                                    <xs:attribute name="bindingInformation" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="serverAutoStart" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="siteDefaults">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="logFile">
                            <xs:complexType>
                              <xs:attribute name="logFormat" type="xs:string" use="required" />
                              <xs:attribute name="directory" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="traceFailedRequestsLogging">
                            <xs:complexType>
                              <xs:attribute name="directory" type="xs:string" use="required" />
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                              <xs:attribute name="maxLogFileSizeKB" type="xs:unsignedShort" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="applicationDefaults">
                      <xs:complexType>
                        <xs:attribute name="applicationPool" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="virtualDirectoryDefaults">
                      <xs:complexType>
                        <xs:attribute name="allowSubDirConfig" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="webLimits" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.webServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="serverRuntime" />
              <xs:element name="asp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cache">
                      <xs:complexType>
                        <xs:attribute name="diskTemplateCacheDirectory" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="limits" />
                  </xs:sequence>
                  <xs:attribute name="scriptErrorSentToBrowser" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="caching">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="enabled" type="xs:boolean" use="required" />
                      <xs:attribute name="enableKernelCache" type="xs:boolean" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="cgi" />
              <xs:element name="defaultDocument">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="files">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="directoryBrowse">
                <xs:complexType>
                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="fastCgi" />
              <xs:element name="globalModules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="add">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="image" type="xs:string" use="required" />
                        <xs:attribute name="preCondition" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="httpCompression" />
              <xs:element name="httpErrors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="error">
                      <xs:complexType>
                        <xs:attribute name="statusCode" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="prefixLanguageFilePath" type="xs:string" use="required" />
                        <xs:attribute name="path" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="lockAttributes" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="httpLogging">
                <xs:complexType>
                  <xs:attribute name="dontLog" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="httpProtocol">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customHeaders">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="clear" />
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="redirectHeaders">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="clear" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="httpRedirect">
                <xs:complexType>
                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="httpTracing" type="xs:string" />
              <xs:element name="isapiFilters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="filter">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="path" type="xs:string" use="required" />
                        <xs:attribute name="enableCache" type="xs:boolean" use="required" />
                        <xs:attribute name="preCondition" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="odbcLogging" />
              <xs:element name="security">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="access">
                      <xs:complexType>
                        <xs:attribute name="sslFlags" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="applicationDependencies">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="application">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="groupId" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="authentication">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="anonymousAuthentication">
                            <xs:complexType>
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                              <xs:attribute name="userName" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="basicAuthentication">
                            <xs:complexType>
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="clientCertificateMappingAuthentication">
                            <xs:complexType>
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="digestAuthentication">
                            <xs:complexType>
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="iisClientCertificateMappingAuthentication">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="windowsAuthentication">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="providers">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="add">
                                        <xs:complexType>
                                          <xs:attribute name="value" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="authorization">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:attribute name="accessType" type="xs:string" use="required" />
                              <xs:attribute name="users" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ipSecurity">
                      <xs:complexType>
                        <xs:attribute name="allowUnlisted" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="isapiCgiRestriction">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="path" type="xs:string" use="required" />
                              <xs:attribute name="allowed" type="xs:boolean" use="required" />
                              <xs:attribute name="groupId" type="xs:string" use="required" />
                              <xs:attribute name="description" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="notListedIsapisAllowed" type="xs:boolean" use="required" />
                        <xs:attribute name="notListedCgisAllowed" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="requestFiltering">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="fileExtensions">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="add">
                                  <xs:complexType>
                                    <xs:attribute name="fileExtension" type="xs:string" use="required" />
                                    <xs:attribute name="allowed" type="xs:boolean" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="allowUnlisted" type="xs:boolean" use="required" />
                              <xs:attribute name="applyToWebDAV" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="verbs">
                            <xs:complexType>
                              <xs:attribute name="allowUnlisted" type="xs:boolean" use="required" />
                              <xs:attribute name="applyToWebDAV" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="hiddenSegments">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="add">
                                  <xs:complexType>
                                    <xs:attribute name="segment" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="applyToWebDAV" type="xs:boolean" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="serverSideInclude">
                <xs:complexType>
                  <xs:attribute name="ssiExecDisable" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="staticContent">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="mimeMap">
                      <xs:complexType>
                        <xs:attribute name="fileExtension" type="xs:string" use="required" />
                        <xs:attribute name="mimeType" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="lockAttributes" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="tracing">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="traceProviderDefinitions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="areas">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="clear" />
                                      <xs:element minOccurs="0" maxOccurs="unbounded" name="add">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string" use="required" />
                                          <xs:attribute name="value" type="xs:unsignedInt" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="guid" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="traceFailedRequests">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="add">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="traceAreas">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="add">
                                        <xs:complexType>
                                          <xs:attribute name="provider" type="xs:string" use="required" />
                                          <xs:attribute name="verbosity" type="xs:string" use="required" />
                                          <xs:attribute name="areas" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="failureDefinitions">
                                  <xs:complexType>
                                    <xs:attribute name="statusCodes" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="path" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="urlCompression" />
              <xs:element name="validation" />
              <xs:element name="webdav">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="globalSettings">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="propertyStores">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="add">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="image" type="xs:string" use="required" />
                                    <xs:attribute name="image32" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="lockStores">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="add">
                                  <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="image" type="xs:string" use="required" />
                                    <xs:attribute name="image32" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="authoring">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="locks">
                            <xs:complexType>
                              <xs:attribute name="enabled" type="xs:boolean" use="required" />
                              <xs:attribute name="lockStore" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="authoringRules" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="webSocket" />
              <xs:element name="applicationInitialization" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="location">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="system.webServer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="modules">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="lockItem" type="xs:boolean" use="optional" />
                              <xs:attribute name="type" type="xs:string" use="optional" />
                              <xs:attribute name="preCondition" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="handlers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="path" type="xs:string" use="required" />
                              <xs:attribute name="verb" type="xs:string" use="required" />
                              <xs:attribute name="modules" type="xs:string" use="optional" />
                              <xs:attribute name="scriptProcessor" type="xs:string" use="optional" />
                              <xs:attribute name="preCondition" type="xs:string" use="optional" />
                              <xs:attribute name="responseBufferLimit" type="xs:unsignedByte" use="optional" />
                              <xs:attribute name="type" type="xs:string" use="optional" />
                              <xs:attribute name="resourceType" type="xs:string" use="optional" />
                              <xs:attribute name="requireAccess" type="xs:string" use="optional" />
                              <xs:attribute name="allowPathInfo" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="accessPolicy" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="path" type="xs:string" use="required" />
            <xs:attribute name="overrideMode" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>